.wrapper {
    width: 100%;
    margin: 0 auto;
    background-color: beige;
    min-height: 1000px;

    display: flex;
}

.wrapper {
    width: 1150px;
}

.content {
    width: 100%;
    border: 1px solid red;
}